*{
    text-align: center;

    body{
        width: 850px;
        margin: auto;
    }

    h1 {
        font-size: 55px;
        font-family: "Nanum Myeongjo", serif;
        font-weight: 1000;
        font-style: normal;
    }

    h2 {
        font-size: 30px;
        font-family: "Nanum Myeongjo", serif;
        font-weight: 1000;
        font-style: normal;
    }

    img{
        width: 800px;
        height: 400px;
        border-radius: 25px;
    }

    p{
        font-size: 18px;
        font-family: "Noto Sans KR", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    #q1{
        line-height: 40px;
        text-align: justify;
    }

    #human1{
        font-size: 30px;
        font-family: "Nanum Myeongjo", serif;
        font-weight: 900;
        font-style: normal;
    }

    #human2{
        font-size: 22px;
        border: 2px solid rgb(209, 209, 209);
            padding: 25px;
            box-sizing: content-box;
            border-radius: 15px;
        
    }

    span#imperfect{
        text-decoration-line: underline;
        text-decoration-color: rgb(119, 255, 0);
    }

    p#cc{
        display: inline-block;
        width: 420px;
        height: 25px;
    }

    #cc{
        text-align: left;
    }

    span#copy{
        text-align: right;
        display: block;
    }


}